@import url('//fonts.googleapis.com/css?family=Sarabun:100,300,400,500,700');

* {
  font-family: 'Sarabun', sans-serif;
}

html,body {
    background-color: #FAFAFA;
    padding: 1rem 0 5rem 0;
    overflow-x: hidden;
}

h1 {
  text-align: center;
  color: #FFC345;
  line-height: 1;
  font-size: 2.5rem;
  margin: 0 auto 0.5rem 0;
}

p {
  text-align: center;
  color: #666666;
  max-width: 35rem;
  line-height: 1.5;
  margin: 0 auto;
}

a {
  color: #1D2631;
}

#map {
  width: 95%;
  max-width: 64rem;
  height: 33rem;
  margin: 0 auto 0 auto;
  position: relative;
  align-content: center;
  @media (max-width: 50em) {
      overflow: hidden;
      height: 20rem;
  }
}

#stats {
  max-width: 64rem;
  text-align: center;
  margin: 0 auto 4rem auto;
  padding: 2rem 0;
  .stat {
      max-width: 20rem;
      display: inline-block;
      vertical-align: top;
      margin: 1.5rem;
     span {
       display: block;
       font-size: 2.5rem;
       cursor: pointer;
       &:hover {
          color: #FFC345;
       }
     }
  }
}

p {
  a {
    color: #FFC345;
  }
}


#nodes-mobileview {
  @media (min-width: 50em) {
      display: none;
  }
  & > div {
      padding: 1rem;
      border-top: 0.05rem solid #DDDDDD;
      a, span, small {
        display: block;
        margin: 0 0 0.5rem 0;
      }
  }
}

table {
  width: 90%;
  margin: 0 auto 3rem auto;
  text-align: center;
  border-spacing: 0;
  max-width: 70rem;
  @media (max-width: 50em) {
      display: none;
  }

  th {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  td {
    font-size: 0.85rem;
    padding: 0.5rem;
    span {
      display: block;
      margin: 0 0 0.3rem 0;
    }
    small {
      display: block;
      margin: 0 0 0.3rem 0;
      font-weight: 100;
    }
  }

  tr:not(:first-child):hover {
      background-color: #FFC345;
      cursor: pointer;
  }

  tr:nth-child(even) {
      background: #EEEEEE;
  }

  tr:nth-child(odd) {
  }
}
