<section data-name="landing" ng-controller="LandingController">
    <div class="holder">
          <h1>Bithereum Node Map</h1>
          <p>A list of full nodes reported by the <a href="https://github.com/BTHPOS/node-management-tool" target="_blank">bithereum node tool</a>.</p>
          <div id="map"></div>
          <div id="stats">
              <div class="stat">
                  <span>${{BTHUSD}}</span>
                  <small>usd per BTH</small>
              </div>
              <div class="stat">
                  <span>{{recentlyactivenodes.length}}</span>
                  <small>most active nodes</small>
              </div>
              <div class="stat">
                  <span>{{605 + nodes.length}}</span>
                  <small>nodes reporting data</small>
              </div>
              <div class="stat">
                  <span>{{getUniqueCountries(nodes).length}}</span>
                  <small>countries with nodes</small>
              </div>
              <div class="stat">
                  <span>{{getHighestBlockCount(nodes)}}</span>
                  <small>highest block reported</small>
              </div>
          </div>
          <p>The following is an overview of the different Proof-of-UpTime Tiers. To change your tier you can run additional nodes or <a href="https://app.stex.com/en/trade/pair/BTC/BTH/1D" target="_blank">purchase BTH</a>.</p>
          <table class="desktopview even-4" id="table-tiers">
              <tr>
                  <th>TIER</th>
                  <th>BTH HOLDING NEEDED</th>
                  <th>PAYOUT PER WEEK</th>
                  <th>PAYOUT PER YEAR<th>
              </tr>
              <tr ng-repeat="entry in tiers">
                  <td>{{entry.tier}}</td>
                  <td>${{entry.usd}} USD worth of BTH</td>
                  <td>{{entry.bthperweek}} BTH</td>
                  <td>{{entry.bthperyear}} BTH</td>
              </tr>
          </table>
          <p>Check out the <a href="https://nrs.bthfaq.com/?ref=b991016t620240h" target="_blank">node tool referral system</a>, where you can earn BTH for referring others to download the node tool.</p>
          <table class="desktopview even-11">
              <tr>
                  <th>RANKING</th>
                  <th>UPTIME</th>
                  <th>BALANCE</th>
                  <th>EST. PAYOUT</th>
                  <th>BONUS</th>
                  <th>ADDRESS</th>
                  <th>LOCATION</th>
                  <th>NETWORK</th>
                  <th>HEIGHT</th>
              </tr>
              <tr quick-ng-repeat="node in nodes">
                  <td>{{$index + 1}}</td>
                  <td>
                      <span>{{::node.uptime}}%</span>
                      <small>{{::node.pou_shares || "0"}} shares</small>
                  </td>
                  <td>
                      <span>{{::node.balance || "0"}} BTH</span>
                      <small>TIER {{::node.tier.tier}}</small>
                  </td>
                  <td>{{::node.payout}} BTH</td>
                  <td>{{::node.bonus}} BTH</td>
                  <td>
                    <a ng-href="http://explorer.bithereum.network/address/{{node.bthaddress}}" target="_blank">{{node.bthaddress}}</a>
                    <small>Last seen {{node.last_reported_on_formatted}}</small>
                  </td>
                  <td>
                      <span>NODE TOOl: {{node.callingip || "::ffff:0.0.0.0"}}</span>
                      <span>NODE IP: {{node.reportedip || "::ffff:0.0.0.0"}}:{{node.p2pport}}</span>
                      <small>{{node.callingip_timezone}}</small>
                      <small>{{getCountryName(node.callingip_country) || "Not Reported"}}</small>
                      <small ng-show="!node.callingip_city">{{node.callingip_region}}</small>
                      <small ng-show="node.callingip_city && node.callingip_city != node.callingip_region">{{node.callingip_city}}, {{node.callingip_region}}</small>
                  </td>
                  <td>
                      <span>{{node.callingip_org.replace(node.callingip_org.split(" ")[0], '') || "Not Reported"}}</span>
                      <small>{{node.callingip_org.split(" ")[0]}}</small>
                  </td>
                  <td>{{node.blockheight || "--"}}</td>
              </tr>
          </table>
          <div class="mobileview">
              <div ng-repeat="node in nodes">
                  <a ng-href="http://explorer.bithereum.network/address/{{node.bthaddress}}" target="_blank">{{node.bthaddress}}</a>
                  <small>Ranking: {{$index + 1}}</small>
                  <small>Uptime: {{node.uptime}}%</small>
                  <small>Shares Earned: {{node.pou_shares || "0"}} shares</small>
                  <small>Next Payout: {{node.payout}} BTH</small>
                  <td>Next Bonus: {{node.bonus}} BTH</td>
                  <small>Balance: {{node.balance || "0"}} BTH</small>
                  <small>Tier {{node.tier.tier}}</small>
                  <small>{{node.callingip || "::ffff:0.0.0.0"}}:{{node.p2pport}}</small>
                  <small>{{node.callingip_timezone}}</small>
                  <small>{{getCountryName(node.callingip_country) || "Not Reported"}}</small>
                  <small ng-show="!node.callingip_city">{{node.callingip_region}}</small>
                  <small ng-show="node.callingip_city && node.callingip_city != node.callingip_region">{{node.callingip_city}}, {{node.callingip_region}}</small>
                  <small>{{node.callingip_org.replace(node.callingip_org.split(" ")[0], '') || "Not Reported"}}</small>
                  <small>ASN: {{node.callingip_org.split(" ")[0]}}</small>
                  <small>Block Height: {{node.blockheight || "--"}}</small>
                  <small>Last reported {{node.last_reported_on_formatted}}</small>
              </div>
          </div>
          <p>Visit the <a href="https://bithereum.network" target="_blank">official Bithereum site</a> for more information</p>
    </div>
</section>
