@import url("//fonts.googleapis.com/css?family=Sarabun:100,300,400,500,700");
* {
  font-family: 'Sarabun', sans-serif; }

html, body {
  background-color: #FAFAFA;
  padding: 1rem 0 5rem 0;
  overflow-x: hidden; }

h1 {
  text-align: center;
  color: #908f8e;
  line-height: 1;
  font-size: 2.8rem;
  margin: 0 auto 0.5rem 0;
  font-weight: 500; }
  @media (max-width: 50em) {
    h1 {
      font-size: 2rem; } }

p {
  text-align: center;
  color: #666666;
  max-width: 35rem;
  line-height: 1.5;
  margin: 0 auto 3rem auto; }

a {
  color: #1D2631; }

#header {
  position: fixed;
  width: 100%;
  padding: 0.3rem;
  box-sizing: border-box;
  background-color: #FFC345;
  color: #000000;
  border-bottom: 0.05rem solid #000000;
  z-index: 1000;
  top: 0;
  opacity: 0.9; }
  #header p {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    max-width: inherit;
    font-size: 0.9rem; }
    #header p a {
      color: #000000;
      font-weight: bold; }

#map {
  width: 100%;
  height: 45rem;
  margin: 0 auto 0 auto;
  position: relative;
  align-content: center; }
  @media (max-width: 50em) {
    #map {
      overflow: hidden;
      height: 18rem; } }

#stats {
  max-width: 64rem;
  text-align: center;
  margin: 0 auto 2rem auto;
  padding: 2rem 0; }
  #stats .stat {
    max-width: 20rem;
    display: inline-block;
    vertical-align: top;
    margin: 1rem 1.5rem; }
    #stats .stat span {
      display: block;
      font-size: 2.5rem;
      cursor: pointer; }
      #stats .stat span:hover {
        color: #FFC345; }

p a {
  color: #FFC345; }

@media (min-width: 50em) {
  .mobileview {
    display: none; } }
.mobileview > div {
  padding: 1rem;
  border-top: 0.05rem solid #DDDDDD; }
  .mobileview > div a, .mobileview > div span, .mobileview > div small {
    display: block;
    margin: 0 0 0.5rem 0; }

table {
  width: 99%;
  margin: 0 auto 3rem auto;
  text-align: center;
  border-spacing: 0;
  max-width: 85rem;
  border-collapse: collapse; }
  table#table-tiers {
    max-width: 45rem; }
  @media (max-width: 50em) {
    table {
      display: none; } }
  table th {
    padding: 0.5rem;
    font-size: 0.9rem; }
  table.even-4 {
    display: block; }
    table.even-4 td {
      width: 25%; }
  table td {
    font-size: 0.85rem;
    padding: 0.5rem; }
    table td a {
      display: block;
      margin: 0 0 0.5rem 0; }
    table td span {
      display: block;
      margin: 0 0 0.3rem 0; }
    table td small {
      display: block;
      margin: 0 0 0.3rem 0;
      font-weight: 100; }
  table tr td:first-child {
    font-size: 1.5rem; }
  table tr:not(:first-child) {
    border-bottom: 0.05rem solid #666666; }
  table tr:not(:first-child):hover {
    background-color: #FFC345;
    cursor: pointer; }
  table tr:nth-child(even) {
    background: #EEEEEE; }
